@CHARSET "UTF-8";

.mentor_list {
		display: flex;
		flex-wrap: wrap; /* 상위요소 너비보다 하위요소 너비가 큰 경우 줄바꿈*/
		justify-content: space-between;
	}
	.mentor_list .card {
		border: 1px solid #eee;
		border-radius: 5px;
		height: 350px;
		width: 250px;
		padding: 5px;
		margin-bottom: 10px;
	}