<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hantick.dao.UserMapper">
	<select id="selectOneUser" parameterType="int" resultType="com.hantick.dto.UserDto">
		select * from user_info where id_seq = #{id_seq}
	</select>
	
	<select id="selectAllUser" resultType="com.hantick.dto.UserDto">
		select * from user_info
	</select>
	
	<select id="selectAllMentor" resultType="com.hantick.dto.UserDto">
		select department.department_name, user_info.name, position.position_name
		from user_info 
		left join position on user_info.position_seq = position.position_seq 
		join department on user_info.department_seq = department.department_seq
	</select>
	
	<select id="selectRandomMentor" resultType="com.hantick.dto.UserDto">
		select department.department_name, user_info.name, position.position_name
		from user_info 
		left join position on user_info.position_seq = position.position_seq 
		join department on user_info.department_seq = department.department_seq 
		order by rand() limit 1; 
	</select>
	
</mapper>